# partie configuration du serveur
RewriteEngine On # Activer le module Rewrite

RewriteRule ^index.html$ PC3/Application/view/index.php
RewriteRule ^$ PC3/Application/view/index.php
RewriteRule ^catalogue.html$ PC3/Application/view/catalogue.php
RewriteRule ^contact.html$ PC3/Application/view/contact.php
RewriteRule ^connexion.html$ PC3/Application/view/connexion.php
